@import "./overrides.css";

:root {
  --warning: #fbc02d;
  --danger: #d32f2f;
  --success: #388e3c;
  --info: #0288d1;
  --backgound-color-thead-table: rgb(5, 26, 90);
  --text-color-thead-table: white;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* scrollbars */
/* ::-webkit-scrollbar {
  width: 4px;
}
.ant-table::-webkit-scrollbar {
  height: 1.5vh;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #888;
  border: 4px solid transparent;
  border-radius: 8px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
} */

.image-full {
  width: 60%;
  height: 60%;
  object-fit: cover;
  object-position: center;
}

.login-form {
  max-width: 400px;
  margin: 0 auto !important;
}

.login-form-forgot {
  float: right;
}

.ant-col-rtl .login-form-forgot {
  float: left;
}

.login-form-button {
  width: 100%;
}

/* Button */
.btn-warning {
  background-color: var(--warning) !important;
  border-color: var(--warning) !important;
}

.btn-danger {
  background-color: var(--danger) !important;
  border-color: var(--danger) !important;
}

.btn-success {
  background-color: var(--success) !important;
  border-color: var(--success) !important;
}

/* -------------- */
.table-response .ant-table {
  overflow: auto;
}

@media only screen and (max-width: 600px) {
  .nav-title {
    display: none;
  }
}

.text-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  max-width: 100%;
  white-space: pre-wrap;
  word-break: break-word;
}

/* profile */

.profile-left {
  width: 25% !important;
  text-align: center;
}

.profile-right {
  width: 75% !important;
}

@media only screen and (max-width: 600px) {
  .profile-left {
    width: 100% !important;
    text-align: center;
    margin-bottom: 15px;
  }

  .profile-right {
    width: 100% !important;
  }
}

.sidebar .sidebar-body .nav .nav-item .nav-link .link-title {
  /* white-space: pre-line; */
  text-align: left;
  /* background-color: #eeeeee; */
}

.menu-link {
  /* white-space: pre-line; */
  text-align: left;
}
.sidebar .sidebar-body,
.sidebar .sidebar-header {
  background-color: unset;
}

.sidebar .sidebar-header .sidebar-toggler span {
  background-color: #eeeeee;
}

.sidebar .sidebar-body .nav .nav-item.nav-category,
.sidebar .sidebar-body .nav .nav-item .nav-link {
  color: white;
}

table thead,
table thead tr,
table thead tr th {
  background-color: var(--backgound-color-thead-table) !important;
  color: var(--text-color-thead-table) !important;
}
/* .gray-color-thead table thead,
.gray-color-thead table thead tr,
.gray-color-thead table thead tr th{
    background-color: #062b9c !important;
    color: rgb(255, 255, 255) !important;
} */

/* Fabcebook */

.kep-login-facebook {
  font-weight: 500 !important;
  width: 100%;
  padding: 7px !important;
  text-transform: none !important;
}

.button_gg {
  width: 100%;
  justify-content: center;
}
@media print {
  .navbar {
    display: none;
  }
  .page-breadcrumb {
    display: none;
  }
  .ant-card-bordered {
    border: none !important;
  }
  .main-wrapper .page-wrapper {
    background: transparent !important;
  }
  .ant-card {
    margin-top: -90px !important;
  }
}
.salary-input .ant-input-number-input {
  text-align: right !important;
}
.salary-input .ant-input-number-handler-wrap {
  display: none;
}
.nav-item.active {
  border-radius: 10px;
  background: #2f77ff;
}

.nav-item.active .menu-link {
  color: white;
  font-weight: 600;
}
.sidebar-body.ps {
  padding: 0px 5px !important;
}
.nav {
  padding: 0px !important;
}
.ant-avatar.ant-avatar-square.ant-avatar-image {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
}
